.item-with-photo {
  display: block;
  border-bottom: 1px solid black;
  margin-top: 5px;

  .photo {
    margin-right: 10px;
    width: 210px;
  }

  .photo-placeholder {
    display: inline-block;
    margin-right: 10px;
    width: 210px;
    height: 158px;
    background-color: gainsboro;
  }

  .item-info {
    display: inline-block;
    vertical-align: top;
  }
}
